<header>
  <div class="header">
    <h2 class="container">
      <span>Gamology</span> Entertainment®</h2>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/produtos">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/produtos">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carrinho">Carrinho</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/produtos">Sobre</a>
    </li>
  </ul>
</header>